.button {
  width: 100%;
  display: flex;

  button {
    flex-grow: 1;
    text-transform: uppercase;
    background: var(--button--color-background);
    color: var(--button--color-foreground);
    border: 0;
    font-size: var(--font-size);
    margin: 0;
    padding: var(--button--padding);
    border-radius: var(--button--border-radius);
    transition: background 200ms ease,
                color 200ms ease;

    &:hover {
      background: var(--button_hover--color-background);
      color: var(--button_hover--color-foreground);
    }

    &:active,
    &:focus {
      border: 0;
      outline: 0;
    }
  }
}
