.color {
  --size: 30px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  input[type="color"] {
    -webkit-appearance: none;
    &::-webkit-color-swatch-wrapper {
	    padding: 0;
    }
    &::-webkit-color-swatch {
	    border: none;
    }
    outline: 0;
    width: var(--size);
    height: var(--size);
    border-radius: var(--size);
    overflow: hidden;
    padding: 0px;
    margin: 0;
    margin: 12px 0;
  }

  .text-value {
    opacity: 0.5;
    font-weight: 200;
  }
}
